<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <meta content="Página de ejemplo de Spring Boot + Thymeleaf para el curso de Egg" name="description"/>
    <meta content="Daniel Di Bartolo" name="author"/>
    <title>📚 Lista Autores - Librería SBoot</title>
    <!-- FONT -->
    <script src="https://kit.fontawesome.com/1bc49bd808.js" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<!--Navbar-->
<nav th:replace="fragmentos :: navbar"></nav>

<div class="container mt-4">
    <h1>Listado de autores</h1>
    <hr class="mb-4"/>
    <div class="alert alert-success" th:if="${exitoAutor != null}" th:text="${exitoAutor}"></div>
    <a class="btn btn-success active mb-2" th:href="@{/autores/crear}" role="button" sec:authorize="hasRole('ADMIN')">Crear Autor</a>
    <div class="input-group mb-3">

        <div class="input-group-append">
            <form th:action="@{/autores/buscar}" method="get">
                <div class="d-flex">
                    <input type="text" name="keyword" required class="form-control" placeholder="nombre del autor" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <button class="btn btn-outline-secondary" type="submit" >Buscar</button>
                </div>

            </form>
        </div>
    </div>
    <div th:if="${autores.isEmpty()}">
        <h4>No hay autores cargados.</h4>
    </div>
    <div class="table-responsive" th:unless="${autores.isEmpty()}">
        <table class="table table-hover table-sm table-bordered">
            <thead class="table-secondary text-center">
                <tr>
                    <th class="col-2" scope="col">ID</th>
                    <th class="col-2" scope="col">Nombre</th>
                    <th class="col-2" scope="col" sec:authorize="hasRole('ADMIN')">Creación</th>
                    <th class="col-2" scope="col" sec:authorize="hasRole('ADMIN')">Modificación</th>
                    <th class="col-1" scope="col" sec:authorize="hasRole('ADMIN')">Alta</th>
                    <th class="col-3" scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="autor : ${autores}" th:class=" ${autor.alta ? 'text-dark' : 'text-muted'}">
                    <td class="col-md-3 px-md-2 text-center" th:text="${autor.id}"></td>
                    <td class="col-md-3 px-md-2 text-center text-uppercase" th:text="${autor.nombre}"></td>
                    <td class="col-md-3 px-md-2 text-center" th:text="${#temporals.format(autor.fechaCreacion, 'dd-MM-yyyy HH:mm')}" sec:authorize="hasRole('ADMIN')"></td>
                    <td class="col-md-3 px-md-2 text-center" th:text="${#temporals.format(autor.fechaModificacion, 'dd-MM-yyyy HH:mm')}" sec:authorize="hasRole('ADMIN')"></td>
                    <td class="col-md-3 px-md-2 text-center" th:text="${autor.alta}" sec:authorize="hasRole('ADMIN')"></td>

                    <td class="col-md-3 px-md-2 d-flex justify-content-around align-items-center w-100" sec:authorize="hasRole('ADMIN')">
                        <a class="d-flex btn btn-secondary btn-sm m-2 align-items-center" th:href="@{/autores/editar/__${autor.id}__}"> <i class="fas fa-edit me-1"></i>Editar</a>
                        <form method="post"
                              th:action="${autor.alta} ? @{/autores/eliminar/__${autor.id}__} : @{/autores/habilitar/__${autor.id}__}">
                            <button th:class="${autor.alta} ? 'btn btn-danger btn-sm' : 'btn btn-primary btn-sm'"
                                    type="submit"> <div class="d-flex justify-content-around align-items-center"> <i th:class="${autor.alta} ? 'fas fa-trash me-2' : 'fas fa-trash-restore me-1'"></i> <span th:text="${autor.alta} ? 'Eliminar' : 'Habilitar'"></span></div></button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Footer -->
<div th:class="${autores.size() < 8 ? 'fixed-bottom' : 'sticky-bottom'}">
    <footer th:replace="fragmentos :: footer"></footer>
</div>

<!-- JavaScript -->
<script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
</body>
</html>























