<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <meta content="Página de ejemplo de Spring Boot + Thymeleaf para el curso de Egg" name="description"/>
    <meta content="Daniel Di Bartolo" name="author"/>
    <title>📚 Lista Editoriales - Librería SBoot</title>
    <!-- FONT -->
    <script src="https://kit.fontawesome.com/1bc49bd808.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<!--Navbar-->
<nav th:replace="fragmentos :: navbar"></nav>

<div class="container mt-4 main">
    <h1>Listado de editoriales</h1>
    <hr class="mb-4"/>
    <div class="alert alert-success" th:if="${exitoEditorialCreada != null}" th:text="${exitoEditorialCreada}"></div>
    <div class="alert alert-success" th:if="${exitoEditorialModificada != null}" th:text="${exitoEditorialModificada}"></div>

    <a class="btn btn-success active mb-2" th:href="@{/editoriales/crear}" role="button">Crear Editorial</a>
    <div class="input-group mb-3">

        <div class="input-group-append">
            <form th:action="@{/editoriales/buscar}" method="get">
                <div class="d-flex">
                    <input type="text" name="keyword" required class="form-control" placeholder="nombre de la editorial" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <button class="btn btn-outline-secondary" type="submit" >Buscar</button>
                </div>

            </form>
        </div>
    </div>
    <div th:if="${editoriales.isEmpty()}">
        <h4>No hay editoriales cargadas.</h4>
    </div>
    <div class="table-responsive" th:unless="${editoriales.isEmpty()}">
        <table class="table table-hover table-sm table-bordered">
            <thead class="table-secondary text-center">
                <tr>
                    <th class="col-2" scope="col">ID</th>
                    <th class="col-2" scope="col">Nombre</th>
                    <th class="col-2" scope="col">Creación</th>
                    <th class="col-2" scope="col">Modificación</th>
                    <th class="col-1" scope="col">Alta</th>
                    <th class="col-3" scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="editorial : ${editoriales}" th:class=" ${editorial.alta ? 'text-dark' : 'text-muted'}">
                    <td class="col-md-3 px-md-2 text-center" th:text="${editorial.id}"></td>
                    <td class="col-md-3 px-md-2 text-center text-uppercase" th:text="${editorial.nombre}"></td>
                    <td class="col-md-3 px-md-2 text-center" th:text="${#temporals.format(editorial.fechaCreacion, 'dd-MM-yyyy HH:mm')}"></td>
                    <td class="col-md-3 px-md-2 text-center" th:text="${#temporals.format(editorial.fechaModificacion, 'dd-MM-yyyy HH:mm')}"></td>
                    <td class="col-md-3 px-md-2 text-center" th:text="${editorial.alta}"></td>

                    <td class="col-md-3 px-md-2 d-flex justify-content-around align-items-center w-100">
                        <a class="d-flex btn btn-secondary btn-sm m-2 align-items-center" th:href="@{/editoriales/editar/__${editorial.id}__}"> <i class="fas fa-edit me-1"></i>Editar</a>
                        <form method="post"
                              th:action="${editorial.alta} ? @{/editoriales/eliminar/__${editorial.id}__} : @{/editoriales/habilitar/__${editorial.id}__}">
                            <button th:class="${editorial.alta} ? 'btn btn-danger btn-sm' : 'btn btn-primary btn-sm'"
                                    type="submit"> <div class="d-flex justify-content-around align-items-center"> <i th:class="${editorial.alta} ? 'fas fa-trash me-2' : 'fas fa-trash-restore me-1'"></i> <span th:text="${editorial.alta} ? 'Eliminar' : 'Habilitar'"></span></div></button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Footer -->
<div th:class="${editoriales.isEmpty() ? 'fixed-bottom' : 'sticky-bottom'}">
    <footer th:replace="fragmentos :: footer"></footer>
</div>
<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>

