<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--Navbar-->
<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Inicio</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-md-0 w-100">
                <!--DROPDOWN LIBROS-->
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="dropdown-libros" role="button">
                        Libros
                    </a>
                    <ul aria-labelledby="dropdown-usuarios" class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item" th:href="@{/libros/todos}">Mostrar todos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/libros/crear}" sec:authorize="hasRole('ADMIN')">Crear
                                libro</a>
                        </li>
                    </ul>
                </li>

                <!--DROPDOWN AUTORES-->
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="dropdown-autores" role="button">
                        Autores
                    </a>
                    <ul aria-labelledby="dropdown-usuarios" class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item" th:href="@{/autores/todos}">Mostrar todos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/autores/crear}" sec:authorize="hasRole('ADMIN')">Crear
                                autor</a>
                        </li>
                    </ul>
                </li>

                <!--DROPDOWN EDITORIALES-->
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="dropdown-editoriales" role="button">
                        Editoriales
                    </a>
                    <ul aria-labelledby="dropdown-mascotas" class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" th:href="@{/editoriales/todos}">Mostrar todas</a></li>
                        <li>
                            <a class="dropdown-item" th:href="@{/editoriales/crear}" sec:authorize="hasRole('ADMIN')">Crear
                                editorial</a>
                        </li>
                    </ul>
                </li>

                <!--DROPDOWN USUARIO-->
                <li class="nav-item dropdown ms-auto">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="dropdown-sesion" role="button" th:unless="${session.id == null}"
                       th:text="|${session.nombre} ${session.apellido}|">
                    </a>

                    <ul aria-labelledby="dropdown-sesion" class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item" th:href="@{/autores/todos}">Mis datos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/logout}">Finalizar sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>




<!--Footer-->
<footer th:fragment="footer" class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-3">
        <!-- Section: Social media -->
        <section>
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank"
               href="https://www.linkedin.com/in/daniel-alejandro-di-bartolo/" role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="danieldibartoloit@gmail.com" role="button"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank"
               href="https://github.com/DanielDiBartoloit" role="button"
            ><i class="fab fa-github"></i
            ></a>
            <div class="text-center mt-1">&copy; DDB 👽 - 2021</div>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
</footer>
</html>














