<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <meta content="Página de ejemplo de Spring Boot + Thymeleaf para el curso de Egg" name="description"/>
    <meta content="Daniel Di Bartolo" name="author"/>
    <title>📚 Inicio - Librería Spring Boot</title>
    <!-- FONT -->
    <script src="https://kit.fontawesome.com/1bc49bd808.js" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<!--Navbar-->
<nav th:replace="fragmentos :: navbar"></nav>

<h1 class="text-center mt-3" >Librería-Spring-Boot</h1>

<div class="container mt-3 main">
    <div class="card-group">
        <div class="card m-2">
            <img class="card-img-top" src="/img/creative-world-book-day-composition.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Libros</h5>
                <p class="card-text">Consulte nuestra extensa selección de libros</p>
                <a class="btn btn-dark active" th:href="@{/libros/todos}" role="button">Ingresar</a>


            </div>
        </div>
        <div class="card m-2">
            <img class="card-img-top" src="/img/fingers-note-report-journalist-filling.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Autores</h5>
                <p class="card-text">Consulte todos los autores</p>
                <a class="btn btn-dark active" th:href="@{/autores/todos}" role="button">Ingresar</a>

            </div>
        </div>
        <div class="card m-2">
            <img class="card-img-top" src="/img/creative-world-book-day-arrangement.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Editoriales</h5>
                <p class="card-text">Todas las editoriales de nuestros libros</p>
                <a class="btn btn-dark active" th:href="@{/editoriales/todos}" role="button">Ingresar</a>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">

        </div>
        <div class="col-md-6 col-lg-4">
            <!-- Bootstrap 5 card box -->
            <div class="card-box">
                <div class="card-thumbnail">
                    <img src="/img/creative-world-book-day-composition.jpg" class="img-fluid" alt="">
                </div>
                <h3><a href="#" class="mt-2 text-dark">Libros</a></h3>
                <p class="text-secondary">Lista de libros disponibles</p>
                <a class="btn btn-sm btn-dark float-right" th:href="@{/libros/todos}" role="button">Ingresar >></a>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <!-- Bootstrap 5 card box -->
            <div class="card-box">
                <div class="card-thumbnail">
                    <img src="/img/fingers-note-report-journalist-filling.jpg" class="img-fluid" alt="">
                </div>
                <h3><a href="#" class="mt-2 text-dark">Autores</a></h3>
                <p class="text-secondary">Lista de autores disponibles</p>
                <a class="btn btn-sm btn-dark float-right" th:href="@{/autores/todos}" role="button">Ingresar >></a>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <!-- Bootstrap 5 card box -->
            <div class="card-box">
                <div class="card-thumbnail">
                    <img src="/img/creative-world-book-day-arrangement.jpg" class="img-fluid" alt="">
                </div>
                <h3><a href="#" class="mt-2 text-dark">Editoriales</a></h3>
                <p class="text-secondary">Lista de editoriales disponibles</p>
                <a class="btn btn-sm btn-dark float-right" th:href="@{/editoriales/todos}" role="button">Ingresar >></a>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <!-- Bootstrap 5 card box -->
            <div class="card-box">
                <div class="card-thumbnail">
                    <img src="/img/fingers-note-report-journalist-filling.jpg" class="img-fluid" alt="">
                </div>
                <h3><a href="#" class="mt-2 text-dark">Prestamos</a></h3>
                <p class="text-secondary">Lista de prestamos disponibles</p>
                <a href="#" class="btn btn-sm btn-dark float-right">Ingresar >></a>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <!-- Bootstrap 5 card box -->
            <div class="card-box">
                <div class="card-thumbnail">
                    <img src="/img/fingers-note-report-journalist-filling.jpg" class="img-fluid" alt="">
                </div>
                <h3><a href="#" class="mt-2 text-dark">Clientes</a></h3>
                <p class="text-secondary">Lista de clientes disponibles</p>
                <a href="#" class="btn btn-sm btn-dark float-right">Ingresar >></a>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <!-- Bootstrap 5 card box -->
            <div class="card-box">
                <div class="card-thumbnail">
                    <img src="/img/fingers-note-report-journalist-filling.jpg" class="img-fluid" alt="">
                </div>
                <h3><a href="#" class="mt-2 text-dark">Administradores</a></h3>
                <p class="text-secondary">Lista de administradores disponibles</p>
                <a href="#" class="btn btn-sm btn-dark float-right">Ingresar >></a>
            </div>
        </div>
    </div>
</div>


<!--Footer-->
<div class="sticky-bottom">
<footer th:replace="fragmentos :: footer"></footer>
</div>
<!-- JavaScript -->
<script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
</body>
</html>