<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <meta content="Página de ejemplo de Spring Boot + Thymeleaf para el curso de Egg" name="description"/>
    <meta content="Daniel Di Bartolo" name="author"/>
    <title>📚 Lista Libros - Librería SBoot </title>
    <!-- FONT -->
    <script src="https://kit.fontawesome.com/1bc49bd808.js" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<!--Navbar-->
<nav th:replace="fragmentos :: navbar"></nav>

<div class="container mt-4">
    <h1>Listado de libros</h1>
    <hr class="mb-4"/>
    <div class="alert alert-success" th:if="${exitoLibroCreado != null}" th:text="${exitoLibroCreado}"></div>
    <div class="alert alert-success" th:if="${exitoLibroModificado != null}" th:text="${exitoLibroModificado}"></div>

    <a class="btn btn-success active mb-2" th:href="@{/libros/crear}" role="button" sec:authorize="hasRole('ADMIN')">Crear Libro</a>
    <div class="input-group mb-3">

        <div class="input-group-append">
            <form th:action="@{/libros/buscar}" method="get">
                <div class="d-flex">
                    <input type="text" name="keyword" required class="form-control" placeholder="nombre del libro" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <button class="btn btn-outline-secondary" type="submit" >Buscar</button>
                </div>

            </form>
        </div>
    </div>
    <div th:if="${libros.isEmpty()}">
        <h4>No hay libros cargados.</h4>
    </div>
    <div class="table-responsive" th:unless="${libros.isEmpty()}">
        <table class="table table-hover table-sm table-bordered">
            <thead class="table-secondary text-center">
            <tr>
                <th class="col-md-4 px-md-2" scope="col">ISBN</th>
                <th class="col-md-4 px-md-2" scope="col">Título</th>
                <th class="col-md-4 px-md-2" scope="col" sec:authorize="hasRole('ADMIN')">Ejemplares totales</th>
                <th class="col-md-4 px-md-2" scope="col" sec:authorize="hasRole('ADMIN')">Ejemplares prestados</th>
                <th class="col-md-4 px-md-2" scope="col" sec:authorize="hasRole('ADMIN')">Ejemplares restantes</th>
                <th class="col-md-4 px-md-2" scope="col" sec:authorize="hasRole('CLIENTE')">Año</th>
                <th class="col-md-4 px-md-2" scope="col">Autor</th>
                <th class="col-md-4 px-md-2" scope="col">Editorial</th>
                <th class="col-md-4 px-md-2" scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="libro : ${libros}" th:class=" ${libro.alta ? 'text-dark' : 'text-muted'}">
                <td class="col-md-3 px-md-2 text-center" th:text="${libro.isbn}"></td>
                <td class="col-md-3 px-md-2 text-center text-uppercase" th:text="${libro.titulo}"></td>
                <td class="col-md-3 px-md-2 text-center" th:text="${libro.ejemplares}" sec:authorize="hasRole('ADMIN')"></td>
                <td class="col-md-3 px-md-2 text-center" th:text="${libro.ejemplaresPrestados}" sec:authorize="hasRole('ADMIN')"></td>
                <td class="col-md-3 px-md-2 text-center" th:text="${libro.ejemplaresRestantes}" sec:authorize="hasRole('ADMIN')"></td>
                <td class="col-md-3 px-md-2 text-center" th:text="${libro.anio}" sec:authorize="hasRole('CLIENTE')"></td>
                <td class="col-md-3 px-md-2 text-center text-uppercase" th:text="${libro.autor.nombre}"></td>
                <td class="col-md-3 px-md-2 text-center text-uppercase" th:text="${libro.editorial.nombre}"></td>

                <td class="col-md-3 px-md-2 d-flex justify-content-around align-items-center w-100" sec:authorize="hasRole('ADMIN')">
                    <a class="d-flex btn btn-secondary btn-sm m-2 align-items-center" th:href="@{/libros/editar/__${libro.id}__}"> <i class="fas fa-edit me-1"></i>Editar</a>
                    <form method="post"
                          th:action="${libro.alta} ? @{/libros/eliminar/__${libro.id}__} : @{/libros/habilitar/__${libro.id}__}">
                        <button th:class="${libro.alta} ? 'btn btn-danger btn-sm' : 'btn btn-primary btn-sm'"
                                type="submit"> <div class="d-flex justify-content-around align-items-center"> <i th:class="${libro.alta} ? 'fas fa-trash me-2' : 'fas fa-trash-restore me-1'"></i> <span th:text="${libro.alta} ? 'Eliminar' : 'Habilitar'"></span></div></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-4"></div>




<!-- Footer -->
<div th:class="${libros.size() <= 4 ? 'fixed-bottom' : 'sticky-bottom'}">
    <footer th:replace="fragmentos :: footer"></footer>
</div>

<!-- JavaScript -->
<script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
</body>
</html>


